{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .btn {
            width: 30%;
            background-color: #a0db70;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .search-content {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .swiper-container {
            width: 90%;
            height: 60vh;
            margin: 0 auto;
        }

        .swiper-button-next {
            right: 20px;
            left: auto;
        }

        .swiper-button-prev {
            left: 20px;
            right: auto;
        }

        #year, #distribution {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

    </style>
    <link href="/static/css/bootstrap-table.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/css/swiper.css"/>
    <script src="/static/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <!-- title -->
    <div class="hero-wrap js-fullheight img" style="background-image: url(/static/img/UCAS.png);">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-center">
                <div class="col-md-8 text-center d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5">
                        <span class="subheading">NCNIPC</span>
                        <h1 class="mb-3">国家计算机网络入侵防范中心</h1>
                        <p>National Computer Network Instrusion Protection Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End title -->

    <!-- search -->
    <section class="ftco-domain">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-10 p-5 ftco-wrap ftco-animate">
                    <form action="/vulnerability/" class="domain-form d-flex mb-3" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control search-content px-4" placeholder="搜索关键字: CVE编号" name="query">
                        <button type="submit" class="btn text-center" id="Search">搜索</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End search -->

    <!-- newest -->
    <section class="ftco-section ftco-counter bg-light" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-10 text-center heading-section ftco-animate">
                    <h2 class="mb-4">最新漏洞</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-5">
                <div class="col-12 text-center ftco-animate">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </section>
    <!-- End newest -->

{#    <!-- echarts -->#}
{#    <section class="ftco-section bg-primary">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center mb-5 pb-3">#}
{#                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">#}
{#                    <h2 class="mb-4">漏洞趋势</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- End echarts -->#}

    <!-- echarts -->
    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-4">漏洞趋势及分布</h2>
                </div>
            </div>
            <div class="row ftco-animate" style="padding-top: 50px">
                <div class="swiper-container" id="case">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="justify-content-center" id="year"></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="justify-content-center" id="distribution"></div>
                        </div>
                    </div>
                    <!-- 导航按钮 上一页下一页 -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- 分页器 -->
                    <div class="swiper-pagination"></div>
                    <!-- 滚动条 -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End echarts -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script>
        let mySwiper = new Swiper ('#case', {
            initialSlide: 0,  // 索引从0开始
            speed: 2000,  // 过度时间
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            <!-- 分页器 -->
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            <!-- 导航按钮 上一页下一页 -->
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            <!-- 滚动条 -->
            scrollbar: {
                el: '.swiper-scrollbar',
                hide: true,
            },
        });
        $ ('#table').bootstrapTable ({
            classes: 'table',
            columns: [{
                field: 'id',
                title: '漏洞编号',
                width: '15%'
            }, {
                field: 'name',
                title: '标题',
                width: '40%',
                class: 'text-truncate'
            }, {
                field: 'severity',
                title: '危害等级',
                formatter: function (v) {
                    return '<span style="color:' + ['#aaaaaa', '#1890ff', '#facc14', '#f04864'][v] + '">● </span>' + ['未知', '低危', '中危', '高危'][v]
                }
            }, {
                field: 'publishtime',
                title: '发布时间'
            }, {
                field: 'id',
                title: '操作',
                width: '8%',
                formatter: function (v) {
                    return '<a href="vulnerability/' + v + '">详情</a>'
                }
            }],
            data: {{ newest | safe }}
        })

        let distribution_chart = Highcharts.chart ('distribution', {
            chart: {
                spacing: [40, 0, 40, 0]
            },
            title: {
                floating: true,
                align: 'center',
                x: 5,
                y: 555,
                text: '总数 ' + {{ count }},
                style: {
                    color: '#000',
                    fontsize: '20px',
                    fontWeight: 'bold'
                }
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            colors: ['#1890ff', '#facc14', '#f04864', '#aaaaaa'],
            plotOptions: {
                pie: {
                    showInLegend: true,
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (
                                Highcharts.theme && Highcharts.theme.contrastTextColor
                            ) || 'black'
                        }
                    },
                    point: {
                        events: {
                            mouseOver: function (e) {  // 鼠标滑过时动态更新标题
                                distribution_chart.setTitle ({
                                    text: e.target.name + " " + e.target.y,
                                    style: {
                                        color: e.target.color,
                                        fontsize: '20px',
                                        fontWeight: 'bold'
                                    }
                                });
                            },
                        }
                    },
                }
            },
            series: [{
                type: 'pie',
                innerSize: '80%',
                name: '占比',
                data: {{ distr | safe }}
            }],
            credits: {
                enabled: false
            }
        }, function (c) { // 图表初始化完毕后的会掉函数
            // 环形图圆心
            let centerY = c.series[0].center[1],
                titleHeight = parseInt (c.title.styles.fontSize);
            // 动态设置标题位置
            c.setTitle ({
                y: centerY + titleHeight / 2
            });
        });

        let year_chart = echarts.init (document.getElementById ('year'));
        let year_option = {
            title: {
                text: '近1年漏洞增长趋势'
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
            },
            yAxis: {
                type: 'value',
                name: "数量"
            },
            series: [{
                name: '漏洞数量',
                type: 'line',
                stack: 'Total',
                data: {{ volume | safe }},
                smooth: true
            }]
        };
        if (year_option && typeof year_option === 'object') {
            year_chart.setOption (year_option);
        }
        window.addEventListener ('resize', year_chart.resize);

    </script>
{% endblock %}