{% extends 'other_base.html' %}

{% block nav %}
{#    <li class="nav-item"><a href="/" class="nav-link">首页</a></li>#}
{#    <li class="nav-item"><a href="/vulnerability" class="nav-link">漏洞列表</a></li>#}
{#    <li class="nav-item active"><a href="/report" class="nav-link">漏洞报告</a></li>#}
{#    <li class="nav-item"><a href="/statistic" class="nav-link">数据统计</a></li>#}
{#    <li class="nav-item"><a href="/custom" class="nav-link">数据定制</a></li>#}
{#    <li class="nav-item"><a href="/about" class="nav-link">关于我们</a></li>#}
{#    <li class="nav-item cta"><a href="#" class="nav-link"><span>登录</span></a></li>#}
{% endblock %}

{% block name1 %}
漏洞报告
{% endblock %}

{% block name2 %}
漏洞报告
{% endblock %}
